/.bundle
/log/*
/tmp

/public/assets
.DS_Store
*~
.*.sw*
/config/database.yml
/config/initializers/secret_token.rb
/config/initializers/00_constants.rb
/config/environments/production.rb
/coverage
/public/uploads
/uploads
/app/assets/stylesheets/variables.css.less
/config/newrelic.yml
*.tgz
*.sql
/backup
/output.html
/solr
public/apidoc
public/google*.html
.env


config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

public/youtube
public/youtube.html
config/parse_resource.yml
