#header
  %div{:style => "background: #231809; width: 100%;"}
    %img{:src => "https://ruffnote.com/attachments/24932"}/
  %br/


= render 'shared/player', music: @workload.music
%hr
.countdown2
  .countdown

#remain{'data-remain' => @remain}
%hr
= link_to '中断する', '/workloads/cancel'
