body {
  text-align: center;
}

h2.status {
  background: repeat-x url('https://ruffnote.com/attachments/24317')
}
h2.status img {
  margin-top: -12px;
  background: #fff;
  padding: 10px;
}

.table {
  width: 500px;
  margin: 0 auto;
}

#contents, #search{
  text-align: center;
}

@media (min-width: 657px) {
  #header img {
    /* width: 657px; */
  }
}
@media (max-width: 657px) {
  #header img {
    width: 100%;
  }
}
  
input {
  display: block;
  text-align: center;
}

.create_comment , #file{
  margin: 0 auto;
  width: 80%;
}

.icon {
  width: 60px;
}

.countdown {
  font-size: 30px;
}

#track {
  width: 100%;
  text-align: center;
}

li{
  list-style: none;
}

li label input{
  display: inline;
}

.tag{
  color: #fff;
  background: #ccc;
  border-radius: 3px;
  padding: 2px;
  margin: 2px;
}

h5 {
  max-height: 15px;
  color: #ccc;
  overflow: hidden;
  width: 179px;
  margin: 7px auto;
}

.img-thumbnail.doing {
  background: #fc0;
}

input#track {
  font-size: 50px;
  font-weight: bold;
  padding: 12px;
}
