body {
  text-align: center;
}

.table {
  width: 500px;
  margin: 0 auto;
}

.noimage {
  display: inline;
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

#contents, #search{
  text-align: center;
}

input {
  display: block;
  text-align: center;
}

#comment {
  margin: 0 auto;
  width: 80%;
}

.icon {
  width: 60px;
}
