body {
  text-align: center;
}

.table {
  width: 500px;
  margin: 0 auto;
}

#contents, #search{
  text-align: center;
}

@media (min-width: 657px) {
  #header img {
    /* width: 657px; */
  }
}
@media (max-width: 657px) {
  #header img {
    width: 100%;
  }
}
  
input {
  display: block;
  text-align: center;
}

.create_comment , #file{
  margin: 0 auto;
  width: 80%;
}

.jacket {
  background-repeat: no-repeat;
}

a.workload{
  text-decoration: none;
}

@media (min-width: 657px) {
  .jacket {
    width: 120px;
    min-height: 90px;
    position: relative;
  }
  .icon {
    width: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-radius: 3px;
  }
  .info {
    color: #fff;
    padding-left: 3px;
    position: absolute;
  }
}

.countdown {
  font-size: 30px;
}

#track {
  width: 100%;
  text-align: center;
}

li{
  list-style: none;
}

li label input{
  display: inline;
}

.tag{
  color: #fff;
  background: #ccc;
  border-radius: 3px;
  padding: 2px;
  margin: 2px;
}

h5 {
  max-height: 20px;
  color: #ddd;
}

.img-thumbnail.doing {
  background: #fc0;
}
