= link_to 'TOP', :root
%hr
= profile_image_tag @user.id, 200
%hr
- @user.music_keys.each do |music_key|
  - provider, key = music_key.split(':')
  - music = Music.new_from_key(provider, key)
  - if music.artwork_url.present?
    = link_to image_tag(music.artwork_url), music.path
  - else
    = link_to 'no image', music.path

