#doing_title.row
  %h2.status
    %img{:src => "https://ruffnote.com/attachments/24939"}/
#doing.row
#chatting_title.row
#chatting.row

- if false
  = render 'shared/done'  
  = render 'shared/you'
#ranking_title.row
  %h2.status
    %img{:src => "https://ruffnote.com/attachments/24940"}/

