= render 'shared/workloads', workloads: @playings, ruffhead: 24939
= render 'shared/workloads', workloads: @chattings, ruffhead: 24938
- if params[:controller] == 'welcome'
  = render 'shared/workloads', workloads: @dones, ruffhead: 24937  
  = render 'shared/workloads', workloads: @yous, ruffhead: 24943  

