- if @playings.present?
  #doing_title.row
    %h2.status
      = ruffimage 24939
  #doing.row
- if @chattings.present?
  #chatting_title.row
    %h2.status
      = ruffimage 24938
  #chatting.row

- if params[:controller] == 'welcome'
  = render 'shared/done'  
  = render 'shared/you'

