- if @playings.present?
  #doing_title.row
    %h2.status
      = ruffimage 24939
  #doing.row
- if @chattings.present?
  #chatting_title.row
    %h2.status
      = ruffimage 24938
  #chatting.row

- if !current_user || current_user.nothing? || (current_user.chatting? && session[:done_workload_without_chatting_id] == current_user.workload.id)
  = render 'shared/done'  
  = render 'shared/you'

