.player-container
  %iframe.player{:frameborder => "no", :height => "400", :scrolling => "no", :src => "https://w.soundcloud.com/player/?visual=true&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F#{sc_id}&show_artwork=true&client_id=#{Music.sc_client_id}&auto_play=true&t=3000".html_safe, :width => "600"}
  .volume-container
    %span.volume-icon-left.glyphicon.glyphicon-minus
    .volume-slider
      .volume-button
    %span.volume-icon-right.glyphicon.glyphicon-plus
