%iframe{:frameborder => "0", :height => "180", :src => "https://www.mixcloud.com/widget/iframe/?feed=http%3A%2F%2Fwww.mixcloud.com#{mc_id}&embed_uuid=be4c7df5-5995-4985-97c7-0c64d5ebbefc&replace=0&hide_cover=1&embed_type=widget_standard&hide_tracklist=1&autoplay=1", :width => "660"}
