#contents.scaffold.row
  /= link_to 'Twitterログイン', '/auth/twitter', method: :post, id: 'login', class: 'btn-default btn'
  = form_tag("/auth/twitter", method: "post", class: 'btn-default btn', id: 'login') do
    = submit_tag('Twitterログイン')
