#header
  %div{:style => "background: #231809; width: 100%;"}
    %img{:src => "https://ruffnote.com/attachments/24932"}/
  %br/

#login
  - if session[:user_id]
    = link_to 'ログアウト', '/logout'
  - else
    = link_to 'ログイン', '/auth/facebook'

#news.row
  %a{:href => "#whatis"} 245cloudとは？（はじめての方はこちら
  %br/
#otukare.row{:style => "display: none;"}
  %div{:style => "background: #c9e9f4; width: 100%;"}
    %img{:src => "https://ruffnote.com/attachments/24933"}/
  %br/
  %br/
  %span{:style => "color: #9e7a41;"}
    24分おつかれさまでした！5分間だけ見られる交換日記に是非参加してください☆
    %br/
  %br/
#ad.row
#contents.row
  .countdown2
    .countdown
  %br/
#start_buttons.row
  #random.col-sm-2.col-sm-offset-4
    %h5 おまかせ
    %img.jacket{:src => "https://ruffnote.com/attachments/24982"}/
    %input#start.btn{:onmouseout => "this.src='https://ruffnote.com/attachments/24919'", :onmouseover => "this.src='https://ruffnote.com/attachments/24920'", :src => "https://ruffnote.com/attachments/24919", :style => "border: none;", :type => "image"}/
  #fixedstart.col-sm-2{:style => "display: none;"}
  #nomusic.col-sm-2
    %h5 無音
    %img.jacket{:src => "https://ruffnote.com/attachments/24981"}/
    %input#start.btn{:onmouseout => "this.src='https://ruffnote.com/attachments/24926'", :onmouseover => "this.src='https://ruffnote.com/attachments/24927'", :src => "https://ruffnote.com/attachments/24926", :style => "border: none;", :type => "image"}/

