.socialbutton
  %a.twitter-share-button{"data-text" => "音楽を聞きながら24分集中して5分休む「ニシコクラウド」", "data-url" => "http://245cloud.com", :href => "https://twitter.com/share"} Tweet
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
#nc
  %h1 245cloud（ニシコクラウド）で24分間集中しましょう
#fb-root
- if current_user
  :javascript
    window.facebook_id = "#{current_user.facebook_id}";
    window.settings = #{cookies[:settings]};
