@import url(https://fonts.googleapis.com/css?family=Mallanna);
body {
  text-align: center;
  overflow-x:hidden;
}

.scaffold {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#done_title {
  display: block;
  background: repeat-x url('/images/ruffnote/24944.png') !important;
}

#done_title h2{
  margin-top: -3px;
}

hr.status{
  border: none;
  height: 50px;
  margin-top: 50px;
  width: 100%;
}

h2.status img {
  margin-top: -12px;
  background: #fff;
  padding: 10px;
}

.table {
  width: 500px;
  margin: 0 auto;
}

#contents, #search{
  text-align: center;
}

/* PC */
@media (min-width: 657px) {
  #header img {
    /* width: 657px; */
  }
  .inborder {
    width: 200px;
    margin: 0 auto;
  }
}

/* SmartPhone */
@media (max-width: 657px) {
  #header img {
    width: 100%;
  }
}
  
input {
  display: block;
  text-align: center;
}

.create_comment , #file{
  margin: 0 auto;
  width: 80%;
}

.icon {
  width: 60px;
}

.countdown {
  font-size: 30px;
}

#track {
  width: 100%;
  text-align: center;
}

li{
  list-style: none;
}

li label input{
  display: inline;
}

.review{
  color: #666;
  /* background: #eee; */
  border-radius: 3px;
  padding: 2px;
  margin: 2px;
}

h5 {
  max-height: 15px;
  color: #6d4922;
  overflow: hidden;
  width: 179px;
  margin: 7px auto 4px;
}

.img-thumbnail.doing {
  background: #fc0;
}

input#track {
  font-size: 50px;
  font-weight: bold;
  padding: 12px;
}

#memo textarea{
  height: 230px;
}

.disp {
  padding: -3px 3px 6px;
}

.jacket {
  width: 95px;
  height: 95px;
  border: solid 3px #fff;
  border-radius: 7px;
  margin: 2px;
}

.inborder .fixed_start img {
  margin-top: 3px;
}

.tooltip-inner {background-color: #6d4922;}
.tooltip.bottom .tooltip-arrow {border-bottom-color: #6d4922;}

.countdown2 {
  background: #ff9c9c;
  padding: 3px;
  border-radius: 35px;
  width: 246px;
  margin: 0 auto;
}

.countdown {
  background: #ff9c9c;
  height: 68px;
  width: 240px;
  border-radius: 35px;
  border: solid 2px #fff;
  padding: 9px 10px;
}

.countdown .time{
  font-family: 'Mallanna';
  font-size: 42px;
  color: #fff;
  line-height: 42px;
  font-style: italic;
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
  height: 41px;
}

.socialbutton {
  position: absolute;
  right: 0;
}

#twitter-widget-0 {
  position: relative;
  top: 5px; 
}

#start_buttons {
  width: 100%;
  text-align: center;
}

#start_buttons .wrapper{
  text-align: center;
}

#start_buttons .wrapper div{
  display: inline;
  width: 150px;
}

table.comments .icon{
  width: 25px;
}

#heatmap {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.track_item-title {
  margin-top: 10px;
  height: 40px;
}
.track_item-body {
  vertical-align: bottom;
  padding-top: auto;
  padding-bottom: 0px;
}
.track_item-thumb {
  height: 110px;
}

#topbar {
  position: fixed;
  z-index: 99999;
  background-color: white;
  top: 0;
  left: 20px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  border: 4px solid #eadba0;
  border-top: 0;
}

#twitter_home table{
  margin: 0 auto;
  width: 800px;
  text-align: left;
}

#twitter_home table img{
  width: 20px;
  margin: 3px;
  border-radius: 8px;
}

/* 検索結果のボックスを薄い枠で囲む */
.track_item_group .col-lg-2{
    padding: 4px;
}
.track_item_group .track_item {
  border: 1px solid #ccc;
  border-radius: 4px;  
}
.track_item_group .track_item .fixed_start img {
  margin-bottom: 8px;
}

/* 検索結果一覧の左右枠に余裕がないので少し隙間をあける */
.scaffold.row {
  margin-left: 0px;
  margin-right: 0px;
}
#nc {
  margin-left: 8px;
  margin-right: 8px;
}

/* タイトル部の左右は現状維持 */
#header.scaffold.row {
  margin-left: -8px;
  margin-right: -8px;
}

/* 再生中一覧の枠の左側の隙間は現状を維持。右側にちょっと余裕がないので少し隙間をあける */
#doing, #chatting, #done, #you {
  margin-left: -8px;
  margin-right: 18px;
}

/* コメント内画像 (でっかい画像は縮小する) */
.comment-inline-image {
  max-height: 100px;
  display: block;
  margin: 0 auto;
}
