!!!
%html{"ng-app" => ""}
  %head
    /
      245cloudのソースコード見てしまったあなた！
      ほんと恥ずかしいんで是非ともコードレビューお願いしますｗ
      https://github.com/pandeiro245/245cloud
      
      このプロジェクトでは「いかにサーバ実装せずにクライアントJSだけで成り立たせるか」に挑戦しています。
    %title 245cloud（ニシコクラウド）
    %script{:src => "//cdn.mlkcca.com/v2.0.0/milkcocoa.js"}
    %script{:src => "//www.parsecdn.com/js/parse-1.2.18.min.js"}
    
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{:src => "https://apis.google.com/js/client.js?onload=onJSClientLoad"}

    %meta{:content => "245cloud（ニシコクラウド）は24分間のパワーソングを聞きながら作業に集中できるWebサービスです", :name => "description"}/
    %meta{:content => "作業BGM, ポモドーロ法, 集中タイム, Soundcloud.com, Parse.com", :name => "keywords"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon-precomposed"}/
    %meta{:content => "https://ruffnote.com/attachments/24010", :property => "og:image"}/
  %body
    #example
    .socialbutton
      %a.twitter-share-button{"data-text" => "音楽を聞きながら24分集中して5分休む「ニシコクラウド」", "data-url" => "http://245cloud.com", :href => "https://twitter.com/share"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    #nc
      %h1 245cloud（ニシコクラウド）で24分間集中しましょう
    #fb-root
    #selectRoomModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "selectRoomModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            %h4#selectRoomModalLabel.modal-title その他の部屋選択
          .modal-body
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} キャンセル
    %button#selectRoomButton.btn.btn-primary.btn-lg{"data-target" => "#selectRoomModal", "data-toggle" => "modal", :style => "display:hidden; ", :type => "button"}
