!!!
%html
  %head
    /
      PullRequest絶賛募集中！！
      https://github.com/pandeiro245/245cloud
    %title 245cloud（ニシコクラウド）
    - unless params[:offline]
      %script{:src => "//cdn.mlkcca.com/v2.0.0/milkcocoa.js"}
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{:content => "245cloud（ニシコクラウド）は24分間のパワーソングを聞きながら作業に集中できるWebサービスです", :name => "description"}
    %meta{:content => "作業BGM, ポモドーロ法, 集中タイム, Soundcloud.com, Parse.com", :name => "keywords"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %link{:href => "/icon.png", :rel => "apple-touch-icon-precomposed"}
    %meta{:content => "https://ruffnote.com/attachments/24009", :property => "og:image"}
  %body
    = yield
    #fb-root

    #hatopoppo.row{:style => "width: 1px;"}
      %audio#hato{:src => "/audio/Zihou01-4.mp3"}
